* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Leto', sans-serif;
}

html {
  background: black;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: white;
}

.card-container {
  width: 100%;
  display: grid;
  padding: 15px 20px;
  margin-top: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 20px;
}

.card {
  text-align: center;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 9px;
  font-weight: 800;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

figcaption {
  margin-top: 15px;
}

footer {
  margin-top: 15px;
}

a {
  color: White;
}